<form class="form-horizontal" id="registrar_pedido">
    <fieldset>
        <legend>Registrar Pedido</legend>
        <div class="row form-group">
            <div class="col-md-6" id="div_tipo_venta">
                <label class="control-label col-md-5" for="tipo">Tipo de Venta</label>

                <div class="col-md-7">
                    <select id="tipo" class="form-control">
                        <option value="99">Seleccionar</option>
                        <option value="1">Por Mayor</option>
                        <option value="2">Por Menor</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6">
                <label class="control-label col-md-5" for="n_pedido">Nª de pedido</label>

                <div class="col-md-7 controls">
                    <input type="text" id="n_pedido" class="form-control"/>
                </div>
            </div>
            <div class="col-md-6" id="div_select_tipoproducto">

            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-6" id="div_select_producto">

            </div>
            <div class="col-md-6">
                <label class="control-label col-md-5" for="cantidad">Cantidad</label>

                <div class="col-md-7 controls">
                    <input type="number" id="cantidad" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-3 pull-right" style="padding-right: 30px;">
                <button type="button" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-plus"></span>
                    Agregar
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <table class="table table-bordered table-hover">
                    <thead class="header">
                    <tr>
                        <th>Nombre</th>
                        <th>Cantidad</th>
                        <th>Stock actual</th>
                        <th>Precio unitario</th>
                        <th>Precio total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>sgfeg</td>
                        <td>egerg</td>
                        <td>ergerg</td>
                        <td>ergerg</td>
                        <td>ergerg</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </fieldset>
</form>