<label class="control-label col-md-5" for="t_producto">Tipo Producto</label>

<div class="col-md-7 controls">
    <select id="t_producto" class="form-control">
        <option value="99">Seleccionar Tipo de Producto</option>
        {{#each items}}
        <option value="{{codigo_tipo_producto}}">{{descripcion_tipo_producto}}</option>
        {{/each}}
    </select>
</div>