    <select id="combo_proveedor" class="form-control">
        <option value="99">Seleccionar</option>
        {{#each items}}
            <option value="{{codigo}}">{{nom_proveedor}}</option>
        {{/each}}
    </select>