    <select id="combo_x_producto" class="form-control">
        <option value="99">Seleccionar</option>
        {{#each items}}
            <option value="{{codigo}}">{{nombre}}</option>
        {{/each}}
    </select>